page-detail-notification {

    .wrapper-notification {
        display: flex;
        background-color: #7F7E7E;
        border-radius: 7px;
        padding: 15px;
        font-size: 20px;
        margin: 10px;
    }

    .wrapper-info {
        width: 100%;
        margin-left: 15px;
    }

    .wrapper-title-notification {
        display: flex;
        justify-content: space-between;
    }


}
