
<div style="color: #C3C3C3">
	<ion-grid>
		<ion-row><ion-col><ion-label class="bigFont">Club 2551</ion-label></ion-col></ion-row>
		<ion-row><ion-col><ion-label class="bigFont">Hola {{userGoal.userName}}</ion-label></ion-col></ion-row>
		<ion-row>
			<ion-col>
				<ion-row><ion-col><ion-label class="veryBigFont">{{userGoal.currentMemberships}}</ion-label></ion-col></ion-row>
				<ion-row><ion-col><ion-label class="bigFont">Membres&iacute;as</ion-label></ion-col></ion-row>
			</ion-col>
			<ion-col>
				<ion-row><ion-col><img src="assets/imgs/grafica1.png"/></ion-col></ion-row>
				<ion-row><ion-col><ion-label class="midFont">{{userGoal.versusLastMonth}}% VS Mes Anterior</ion-label></ion-col></ion-row>
				<ion-row><ion-col><ion-label class="midFont">{{userGoal.versusPlan}}% VS Plan</ion-label></ion-col></ion-row>
			</ion-col>
		</ion-row>
		
	</ion-grid>
</div>